@charset "UTF-8";
@font-face{
	font-family: 'maple';
    src: url('../fonts/maple_light.woff') format('woff');
}
@font-face{
	font-family: 'maple';
    src: url('../fonts/maple_bold.woff') format('woff');
    font-weight:bold;
}
body{
	font-family : 'maple';
}
/* 페이지 레이아웃
------------------*/
.page-main{
	background:#FFFFFF;
	margin:40px 0;
	border-radius:5px;
	box-shadow:0 2px 6px rgba(100,100,100,0.3);
	min-height:650px;
}
.main-contents {	
	width:1600px;
	margin:0 auto;
}
/* 공통 메시지
------------------*/
.result-display{
	width:1000px;
	padding:10px 0;
	margin:50px auto;
	border:2px solid #E19B50;
	background: #ddd;
	display:flex;
	align-items:center;/*세로 정렬*/
	justify-content:center;/*가로 정렬*/
    border-radius: 10px;
}
.result-text{
	font-size:15pt;
	margin:5px;
}
.result-text div{
	margin:10px;
}
/* 공통 정렬
------------------*/
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}
.cart-content{
	width:1000px;
	margin:50px auto;
}

input[id="result"]{
	font-size:20pt;
	width:40px;
	margin:0;
	padding:0;
	border:2px solid #E19B50;
}
input.quntity{
	font-size:20pt;
	width:35px;
	margin:0;
	padding:0;
}


.button { /* 버튼 디자인 */
    margin: 5px auto;
    width:400px;
    padding: 13px 13px;
    background-color: #E19B50;
    box-sizing: border-box;
    cursor: pointer;
    border : 2px solid #E19B50;
    border-radius: 7px;
}
.button:hover{ /* 버튼 디자인 호버링 */

    margin: 5px auto;
    width:400px;
    padding: 13px 13px;
    background-color: field;
    box-sizing: border-box;
    cursor: pointer;
    border : 2px solid #E19B50;
    border-radius: 7px;
}
.cart-del{
	width:60px;
	background-color:field;
}
.cart-del:hover{
	width:60px;
	color:red;
	background-color:#E19B50;
	font-weight:700;
}
.qpm{
	width:35px;
	margin:0;
	padding:0;
	font-size:20pt;
}
.qpm:hover{
	width:35px;
	margin:0;
	padding:0;
	background-color: #E19B50;
	font-size:20pt;
}
.cart-modify{
	width:115px;
	margin:5px 5px;
	padding:5px;
	background-color:field;
}
.now-address{
	color:blue;
	font-weight: 700;
}
.cart-modify:hover{
	width:115px;
	margin:5px 5px;
	padding:5px;
	background-color:#E19B50;
}
.quantity{
	display:flex;
	justify-content:center;
}
ul{
	list-style:none;
}
.money{
	float:right;
}
.before-price{
	font-size:12pt;
	color:gray;
	text-decoration: line-through;
}
.page_outer{
	justify-content: center;
}
/* 간격 */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align:center;
}

th.checkbox {
  width: 10%;
}

th.name {
  width: 10%;
}
th.zipcode {
  width: 7%;
}
th.address1 {
  width: 30%;
}
td.buttontd{
	width: 10%;
}
td.imagetd{
	width:90px;
}
table td, table th{
	font-size:15pt;
	padding:20px 5px;
}
.m{
	border-radius: 7px 0 0 7px;
}
.m:hover{
	border-radius: 7px 0 0 7px;	
}
.p{
	border-radius: 0 7px 7px 0;
}
.p:hover{
	border-radius: 0 7px 7px 0;
}