@charset "UTF-8";
@font-face{
	font-family: 'maple';
    src: url('../fonts/Malestory_Light.ttf') format('maple');
}
	div {
		font-family: 'maple';
		
	}
.main-contents {
	
	width:1600px;
	margin:0 auto;
	display:flex;	
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top:20px;
}

.contents-head {
	display : flex;
	width : 1600px;
	height : 100px;
	justify-content: center;
	align-items:center;
	font-size : 50px;
	margin-bottom:100px;
	
}

#output {
	width:1600px;
	display:flex;	
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top:20px;
	
}

.product-nums {
	display:flex;
	flex-direction:column;
	width:400px;
	height : 650px;
	font-size : 18px;
	overflow: hidden;
	margin-bottom:50px;
	align-items: center;
	
	text-align:center;
}


.product-nums img {
	
	width: 350px;
	margin-left:25px;
	margin-right:25px;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    margin-bottom:20px;
}

.product-nums span {
	margin:0;
}
.product-nums p {
	margin:0;
}
.search-navigator {
	width : 1600px;
	height:40px;
	display:flex;
}

.search-navigator ul {
	width:1600px;
	height:40px;
	display:flex;
	margin-top:0;
	justify-content: flex-end;
	align-items:center;
}

.search-navigator ul li {
	font-size:15px;
	margin-right:40px;
	list-style-type:none;
}

.search-navigator ul li:hover, .search-navigator ul li.active {
	cursor: pointer;
	color:#E19B50;
}
/*	
#sorted_01:hover, #sorted_01.active, 
#sorted_02:hover, #sorted_02.active,
#sorted_03:hover, #sorted_03.active,
#sorted_04:hover, #sorted_04.active,
#sorted_05:hover, #sorted_05.active{
  cursor: pointer;
  
}	
*/
.search-navigator ul li.active {
  /* 활성화된 상태일 때의 스타일을 적용합니다 */
  /* 예시로 배경색과 텍스트 색상을 변경해보겠습니다 */
  color:#E19B50;
}

.horizon-bar-01 {
	width:1600px;
	border: solid 1.5px black;
}