@charset "UTF-8";

.main-contents {
	
	width:1600px;
	margin:0 auto;
	display:flex;	
	justify-content: center;
	
	flex-wrap: wrap;
	margin-top:100px;
}

.contents-head {
	display : flex;
	width : 1600px;
	height : 100px;
	justify-content: center;
	align-items:center;
	font-size : 50px;
	margin-bottom:100px;
	
}
.product-nums {
	display:flex;
	flex-direction:column;
	border : 100px;
	margin-left:15px;
	margin-right:15px;
	width : 350px;
	height : 550px;
	font-size : 25px;
}
