@charset "UTF-8";

/* 아이디# 클래스. */

@font-face{
	font-family: 'IBMPlexSansKR-Light';
	src: url('../fonts/IBMPlexSansKR-Light.woff') format('woff');
}
	body{
		margin:0;
		font-family: 'IBMPlexSansKR-Light';
	}
    #footer{
      width : 1600px;
      margin : 0 auto;
      height : auto;
      background-color: gray;
    }
    #inner{
		width: 1200px;
		margin : 0 auto;
	}
	#footer_top{
		height:auto;
	}
	#footer_top_time{
		font-size:10px;
		color:lightblue;
	}
	#footer_mid1{
		height:auto;
	}
	#footer_mid2{
		height:auto;
	}
	#footer_bot{
		height:auto;
	}