@charset "UTF-8";

/* 아이디# 클래스. */
@font-face{
	font-family: 'maple';
    src: url('../fonts/Malestory_Light.ttf') format('maple');
}
	div {
		font-family: 'maple';
	}
    body{
      margin:0;
    }
    #footer{
      width : 1600px;
      margin : 0 auto;
      height : auto;
      background-color: white;
    }
    #inner{
      width: 1200px;
      margin : 0 auto;
    }
    #footer_top{
      padding-top: 5px;
      height:auto;

    }
    #footer_top_service{
      margin-bottom: -20px;
    }
    #footer_top_time{
      font-size:18px;
      color:gray;
      margin-left : 20px;
    }
    .footer_top_mont{
      list-style-type: none;
      display: inline-block;
      padding-right: 100px;
      padding-bottom: 20px;
    }
    .mont_title{
      font-size: 20px;
      background-color: darkgray;
      border-radius: 20px;
      width: 100px;
      height: 100%;
      text-align: center;
    }
    .call{
      font-size: 18px;
      color:gray;
      padding-left : 10px;
    }
    .footer_top_mont li {
      display: flex;
      align-items: center;
    }

    .mont_title, .call {
      display: inline-block;
      margin: 0;
    }
    .footer_top_sns{
      height:auto;

    }
    .sns{
      width: 50px;
      float: right;
      padding-right: 10px;
    }
    #sns_right{
      padding-right:100px;
    }

    #footer_mid1 {
      height:auto;
      display: flex;
    }
    .footer_mid1_logo{
      padding-top: 20px;
    }
    #footer_mid1 h5{
      font-size: 20px;
      margin-bottom: -10px;
    }
    #footer_mid1_f1{
      padding-right: 100px;
      font-size: 14px;
      margin-bottom: 20px;
    }
    #footer_mid1_f2{
      font-size: 14px;
    }
    #footer_mid21{
      display: flex;
    }
    #footer_mid2 {
      height:auto;
      display: inline-block;
      margin: 0 auto;
    }
    #footer_mid2 ol{
      display: flex;
      list-style: none;
    }
    #footer_mid2 li{
      padding-right: 50px;
    }
    #footer_bot{
      height:auto;
      padding-top: 20px;
      margin-bottom: 20px;
      font-size: 14px;
      color:lightslategray;
    }