@charset "UTF-8";

@font-face{
	font-family: 'maple';
    src: url('../fonts/maple_light.woff') format('woff');
}
@font-face{
	font-family: 'maple';
    src: url('../fonts/maple_bold.woff') format('woff');
    font-weight:bold;
}
body{
	font-family : 'maple';
}
    .page_outer{ /* 전체 박스 */
      width:1920px;
      height: 1200px;
      background-color: blue;
      display: flex;
      margin-top: 50px;
    }
    .page_outer > .page_left{ /* 좌측 메뉴바 전체 */ /* page_outer 상속 */
      display: flex;
      text-align: left;
      padding-top: 40px;
      width: 160px;
      /* page_outer : 1600, page_inner : 1200 page_left : 200 */
      /* main.do : 1920 header,footer : 1600*/
      height: 1000px;
      margin-left: 40px;
      background-color: yellow;
    }
    .page_left li{ /* 좌측 메뉴바 리스트*/
      list-style-type: none;
    }
    .page_left li a{
      margin-left: -40px;
    }
    .button_left{ /* 좌측 메뉴 버튼 스타일 */
      width: 160px;
      height: 110px;
      background-color: white;
      border-color: white;
      border-right: white;
      border-top: white;
      border-left: white;
      border-bottom: 2px solid #7878E1;
      font-size: 22px;
    }
    .button_left:hover{ /* 좌측 메뉴 버튼 호버링 */
      width: 160px;
      height: 110px;
      background-color: #AAB9FF;
      border-color: white;
      border-right: white;
      border-top: white;
      border-left: white;
      border-bottom: 2px solid #7878E1;
      font-size: 22px;
      cursor: pointer;
    }
    #button_left_1{ /* 좌측 메뉴 버튼 최상단 테두리 */
      border-top: 2px solid #7878E1;
    }
    /* 게시판 시작 */
    .page_inner_main{ /* 게시판 2차 박스 */
      width:1600px;
      display: flex;
      height:1100px;
      background-color: green;
    }
    .page_inner_post{ /* 게시판 3차 박스*/
      display: block;
      width:1600px;
      height: 950px;
      margin : auto;
      padding-top: 20px;
      background-color: skyblue;
    }
    .content_title{ /* 게시판 상단 목록바 */
      margin: auto;
      width: auto;
      height: 50px;
      border-top: 1px solid #7878E1;
      border-bottom: 1px solid #7878E1;
      display:block;
      background-color: #cccccc;
    }
    .page_inner_post .hr_top{ /* 게시판 상단 목록바 hr 스타일 */
      background-color: blue;
    }
    .content_list{ /* 게시판 중앙 데이터 */
      display: block;
      height: 900px;
      background-color:dimgray;
    }
    .content_bottom{ /* 게시판 하단 페이징 */
      display: block;
      width: auto;
      background-color: red;
      height: 100px;
      padding-top: 30px;
    }
    .content_bottom2{
      display: block;
      width: 1400px;
      height: 80px;
      margin-left: 100px;
      margin-top: -5px;
      background-color: purple;
    }