@charset "EUC-KR";
@font-face{
	font-family: 'maple';
    src: url('../fonts/maple_light.woff') format('woff');
}
@font-face{
	font-family: 'maple';
    src: url('../fonts/maple_bold.woff') format('woff');
    font-weight:bold;
}
body{
	font-family : 'maple';
}
.page-main{
	background-color:green;
}