@charset "UTF-8";
@font-face{
	font-family: 'maple';
    src: url('../fonts/maple_light.woff') format('woff');
}
@font-face{
	font-family: 'maple';
    src: url('../fonts/maple_bold.woff') format('woff');
    font-weight:bold;
}
body{
	font-family : 'maple';
}
/* 공통 메시지
------------------*/
.result-display{
	width:400px;
	height:200px;
	margin:50px auto;
	border:1px solid #000;
	display:flex;
	align-items:center;/*세로 정렬*/
	justify-content:center;/*가로 정렬*/
}
/* 공통 정렬
------------------*/
.align-center{
	text-align:center;
}
.align-right{
	text-align:right;
}

/* *{
	margin: 0px;
	padding: 0px;
} */
.page-detail{
	width: 1050px;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	
}
.detail-top{
	display: flex;
	/*flex-direction: row;*/
	margin-top: 10px;
	margin-bottom: 20px;
	order:0;
}

.top-img{
	width: 520px;
	margin: 0px;
	padding: 0px;
}
.top-img img{
	width: 430px;
}
.top-info{
	width: 530px;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
}
.top-cate{
	height: 30px;
	margin-top: -1.5px;
	margin-bottom: 10px;
}
.top-per{
	color: #fa402f;
	font-style:italic;
	font-weight: bold;
	font-size: 27px;
}
.top-price{
	color: #333333;
	font-weight: bold;
	font-size: 35px;
}
.top-won{
	color: #333333;
	font-weight: bold;
	font-size: 20px;
}
.b-hr{
	padding-bottom: 20px;
	border-bottom: 1px solid rgb(201,201,201);
}

.box{
	width: 530px;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid rgb(201,201,201);
}
.box-left{
	/*display: inline-block;*/
	width: 130px;
	margin: 10px 5px;
	vertical-align: top;
}
.box-right{
	/*display: inline-block;*/
	width: 380px;
	margin: 10px 5px;
}
.total-price{
	color: #333333;
	font-style:italic;
	font-weight: bold;
	font-size: 22px;
}
.box-left, .box-right{
	color: #333333;
	font-size: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 15px;
}
.total-price{
	margin: 30px 0px;
	padding-right: 20px;
	text-align: right;
}
.total-price span{
	display: inline-block;
}
.box-button{
	margin: 20px auto;
	height: 80px;
	position: relative;
}
.button-zzim{
	position:absolute;
	top: 10px;
	left: 5px;
}
.box-button input[type="submit"], #btn_soldout{
	position:absolute;
	top: 10px;
	left: 75px;
	
	font-weight: bold;
	font-size: 20px;
}

.box-button input[type="submit"], #btn_soldout{
	width: 450px;
	height: 60px;
	background-color: #cba680;
	color: white;
	border: 0 none;
}
.button-zzim{
	width: 60px;
	height: 60px;
	background-color: #f5f5f5;
	border: 1px solid rgb(201,201,201);
	border-radius: 4px;
	
}

/*---------------*/
.pro-title{
	color: #333333;
	font-size: 24px;
	font-weight: 500;
}
.pro-cate, .top-cate a{
	color: #b5b5b5;
	font-size: 18px;
	font-weight: 100;
}

/*--------------*/
#detail-info{
	/* display: flex;
	order:3; */
	border-bottom: 1px solid rgb(193, 193, 193);
	
}
.div-h{
	/*height:500px;*/
	background-color: white;
}


/*-------*/
.sticky{
  position: sticky;
  top: 0;
}

.nav ul{
	list-style:none;
	margin:0;
	padding:0;
	display: flex;
	flex-wrap: wrap;
	height: 60px;
	order:1;
}
.nav ul li{
	display: flex;
	flex: 1;
	margin: 0px;
	border: solid 1px rgb(201,201,201);
	background-color: white;
	text-align: center;
}
.nav ul li a{
	display: flex;
	flex: 1%;
	justify-content: center;
	align-items: center;
	height: 100%
}

/*--------*/
.pro-de-img{
	/*width: 900px;*/
	margin: 20px 0;
	
	/*background-color: blue;*/
	text-align: center;
}
.crop{
	max-height: 400px;
  	overflow: hidden;
}
.crop-img{
	width: 800px;
	max-height: 100%;
	 margin-top: -30%;
}

.context{
	/*height:300px;*/
	margin: 70px 0 0;
	padding-bottom: 35px;
	color: rgb(102, 102, 102);
}
.context-ti{
	text-align: center;
	margin: 70px 0 0;
	padding-bottom: 35px;
	font-size: 22px;
	font-weight: 600;
	border-bottom: 1px solid rgb(193, 193, 193);
}

.context p{
	font-size: 18px;
	line-height: 32px;
	color: rgb(55,55,55);
	margin: 70px 50px 20px 50px;;
	padding-left:20px; 
	padding-right:20px;
	padding-bottom: 35px;
	
}
/*------*/
.context-de{
	/*height: 800px;*/
	border-top: 1px solid rgb(193, 193, 193);
	margin: 0 20px 50px 20px;
}
.context-de h3{
	text-align: center;
	margin: 30px 0;
}
.ul-box{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
.ul-box li{
	list-style: none;
}
.ul-b-left{
	width: 150px;
	padding: 10px 15px;
	color: black;
	background-color: #f7f7f7;
}
.ul-b-right{
	width: 295px;
	padding: 10px 15px;
	background-color: white;
}

/* #detail-review{
	display: flex;
}
#detail-QA{
	display: flex;
} */

/* .box-button button, .box-button input[type="submit"]{
	cursor: pointer;
} */

.pro-title h2{
	margin: 10px 0px;
}

/**/
.review-box{
	display: flex;
	padding: 30px, 0px, 19px, 20px;
	border-bottom: 1px solid  rgb(193, 193, 193);
}
.rbox-left{
	flex: 0 0 225px;	
}
.rbox-right{
	flex: 1 1 0%;	
}
.rbox-img img{
	width: 93px;
	height: 93px;
}